<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body class="m-10">
   <header class="bg-gray-300 flex p-3 justify-between rounded">
    <a href="/" class="px-3 py-2 text-white font-bold rounded bg-green-600 hover:bg-blue-900" >Home</a>
    <nav class="flex items-center w-1/6 justify-between">
        <a href="/users/login" class="px-3 py-2 text-white font-bold rounded bg-green-600 hover:bg-blue-900" >Login</a>
        <a href="/users/register" class="px-3 py-2 text-white font-bold rounded bg-green-600 hover:bg-blue-900" >Register</a>
    </nav>
   </header>
    
</body>
</html>