<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <footer class="bg-blue-300 p-5 rounded flex justify-center items-center">
        <p class="text-gray-600">
            <small>&copy; Copyright</small>
            Shishupal Kumar, 2021
        </p>
    </footer>
</body>
</html>