/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 20px;
  font-family: 'Baloo Tammudu 2', cursive;
  vertical-align: middle;
  background-color: #eaeded; }

a {
  text-decoration: none;
  color: black; }

.btn {
  padding: 1rem;
  border-radius: 10px;
  vertical-align: middle;
  display: inline-block; }

.btn-pri {
  background-color: green;
  color: wheat; }

.btn-sec {
  background-color: #d85151;
  color: wheat; }

.btn-ter {
  background: linear-gradient(to bottom, #f7e1a7, #c79d32); }

.container {
  max-width: 1000px;
  margin: 0 auto; }

.color-sec {
  color: #d13f3f; }

.color-pri {
  color: green; }

.felxi-img {
  height: 100%;
  width: 100%; }

.flex {
  display: flex; }

.flex-30 {
  flex: 0 1 24%;
  margin: 1%; }

.jsb {
  justify-content: space-between; }

.aic {
  align-items: center; }

.wrap {
  flex-wrap: wrap; }

.center-center {
  justify-content: center;
  align-items: center; }

.underline {
  text-decoration: underline; }

input {
  width: 100%;
  padding: 0.3rem 0;
  border-radius: 10px;
  border: none; }
  input::placeholder {
    padding-left: 0.5rem;
    font-size: 1rem; }

#isAdmin,
#isAdmin2 {
  width: auto; }

form {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  background: linear-gradient(to top right, #f8c391, #ee9a4c);
  border-radius: 10px;
  box-shadow: 4px 4px 4px #636161; }
  form > * {
    margin: 0.5rem 0; }

.sec-padding {
  padding: 3rem 0; }

.center {
  justify-content: center;
  align-items: center; }

.text-center {
  text-align: center; }

h2 {
  font-size: 2.5rem;
  font-weight: 800; }

h3 {
  font-size: 2.2rem;
  font-weight: 800; }

header {
  padding: 1rem 0;
  background-color: #131921; }
  header .logo {
    height: 3rem;
    width: 6rem; }
  header strong {
    font-size: 2.5rem;
    font-weight: 600;
    color: white; }
  header a {
    margin-right: 1rem; }

.item-card {
  width: 600px;
  background: linear-gradient(to top right, #f8c391, #ee9a4c);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 4px 4px 4px #4b4a4a;
  margin-bottom: 2rem; }
  .item-card .img-div {
    width: 8rem;
    height: 8rem; }

.item-details-card {
  width: 900px;
  background: linear-gradient(to top right, #f8c391, #ee9a4c);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 4px 4px 4px #4b4a4a; }
  .item-details-card > * {
    margin: 1.5rem 0; }
  .item-details-card .img-div {
    max-width: 400px;
    margin: 0 auto; }
    .item-details-card .img-div img {
      border-radius: 10px;
      width: 400px; }
  .item-details-card .btn-div {
    display: flex;
    justify-content: center;
    align-items: center; }
    .item-details-card .btn-div > * {
      margin-right: 1rem; }

.client-item-card {
  border-radius: 10px;
  padding: 1rem;
  background-color: white;
  box-shadow: 4px 4px 4px #636161; }
  .client-item-card > * {
    margin: 1rem 0; }
  .client-item-card .img-div {
    height: 10rem; }
    .client-item-card .img-div img {
      border-radius: 10px; }
  .client-item-card .btn-div i {
    font-size: 2rem; }

.cart-card {
  padding: 1rem;
  background-color: white;
  width: 700px;
  box-shadow: 4px 4px 4px #636161;
  margin: 1rem 0; }
  .cart-card .btn-div span {
    margin-right: 3rem; }
