<%- include('../partials/header') -%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<body>
    <main class="m-20 min-screen-h flex justify-center items-center" >
        <section class="">
            <h2 class="text-xl text-green-600 font-bold text-center mb-5">Registration</h2>
            <form action="/users/register" method="POST" class="border-2 p-5 flex flex-col">
                <% if(error) { %>
                    <p class="text-red-500 "><%= error %></p>
                <% } %>
                <input type="text" name="firstName" placeholder="First Name" class="p-2 border border-grey-500 mb-5">
                <input type="text" name="lastName" placeholder="Last Name" class="p-2 border border-grey-500 mb-5">
                <input type="email" name="email" placeholder="Email" class="p-2 border border-grey-500 mb-5">
                <input type="password" name="password" placeholder="Password" class="p-2 border border-grey-500 mb-5">
                <button type="submit" class="px-3 py-2 bg-green-600 hover-bg-geen-900 text-white font-bold">Register</button>
            </form>
        </section>
    </main>

</body>
</html>