<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/main.css">

  </head>
  <body class="m-10">
    <header class="bg-blue-900 w-100 flex justify-between items-center p-5 rounded mb-10">
      <div class="flex container jsb">
        <img class="logo" src="/images/logo.jpg" alt="logo" />
        <div class="flex">
          <a href="/users/login" class="btn btn-ter">Login</a>
          <a href="/users/register" class="btn btn-ter">Register</a>
        </div>
      </div>
    </header>
    <h1>Welcome to The Shopping App</h1>
    <p>Enjoy Shopping</p>
  </body>
</html>
